<a href="https://colab.research.google.com/github/svmgrns/Practice-Project-Data-Analytics-for-Insurance-Cost-Data-Set/blob/main/Python_Basics_NoteBook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics NoteBook

In [1]:
#Write a Python code to return your Python version
import sys
print(sys.version)

3.10.12 (main, Jun 11 2023, 05:26:28) [GCC 11.4.0]

In [2]:
#Write a Python code to declare variable id="513".
#Print the following statement "customer id =513". [Don't use print("customer id =513")]
#Run the following statement, why there is an error

#Run the following statement, why there is an error

id ="513"
print("customer id=" + id)

customer id=513

In [3]:
#Run the following statement, why there is an error

id=id+1 # can't concat string with int

TypeError: ignored

In [4]:
#Convert the variable id into an integer, increment it by 1.
#Assign the result to variable new_id.
#Print the new_id

new_id = int(id) + 1
print(new_id)

514

In [5]:
#Write a Python code to print the following string in a specific format (see the output).

# Twinkle, twinkle, little star,
#     How I wonder what you are!
#        Up above the world so high,
#            Like a diamond in the sky.

print("Twinkle, twinkle, little star,\n\tHow I wonder what you are!\n\t\tUp above the world so high,\n\t\t\tLike a diamond in the sky.")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
			Like a diamond in the sky.

In [6]:
#Givin the following string variable, # Print the first element in the string

course="Python for Data Science"
print(course[0])

P

In [7]:
# Print the element on the 13th index in the string
print(course[13])

t

In [8]:
# Find the length of string
len(course)

23

In [9]:
# Print the last element in the string [use negative index]
course[-1]

'e'

In [10]:
# Take the slice on variable course with only index 11 to index 14
course[11:15]

'Data'

In [11]:
# Get every third element in the range from index 0 to index 20
course[0:21:3]

'Ph ra i'

In [12]:
# Concatenate course string with ", AI & Development"
course = course + ", AI & Development"
print(course)

Python for Data Science, AI & Development

In [14]:
# Replace all the spaces with (_). New string should looks like"Python_for_Data_Science,_AI_&_Development"
course.replace(" ", "_")

'Python_for_Data_Science,_AI_&_Development'

In [15]:
# Convert all the characters in string to upper case
print(course.upper())

PYTHON FOR DATA SCIENCE, AI & DEVELOPMENT